@{
    Layout = "~/Shared/Layouts/_Layout.cshtml";
    Page.Title = "Carrito";

    //crear un carrito vacio en la sesion si no existe todavia ninguno

    if(Session["cart"] == null)
    {
        Session["cart"] = new Cart();
    }

    //obtener e carrito actual de la sesion
    Cart cart = (Cart)Session["cart"];

    if(IsPost)
    {
        var productoID = Request["productoID"];
        var idioma = Request["idioma"];
        var precio = Request["precio"];

        cart.AddItem(productoID.AsInt(), idioma, precio.AsDecimal());
    }
}

<h1>Carrito de compra</h1>
@if(cart.Items.Count() == 0)
{
    <p>No hay items en tu carrito de la compra.</p>
}
else
{
<table id="cartTable">
    <tr>
        <th class="producto">Articulos</th>
        <th class="idioma">Idioma</th>
        <th class="precio">Precio</th>
    </tr>

    @foreach(var item in cart.Items)
    {
        <tr>
            <td class="producto">@item.ProductoID</td>
            <td class="idioma">@item.IdiomaManual</td>
            <td class="precio">@Formating.Price(item.Precio)</td>
    </tr>
        }

    <tr class="cartTotal">
        <td colspan="2">&nbsp;</td>
        <td>Total: @Formating.Price(cart.TotalValue)</td>
    
    </tr>


</table>
}