@{
    WebSecurity.InitializeDatabaseConnection(
    
    "MembershipExample","UserProfile","UserId","UserName",true);

    WebMail.SmtpServer = "smtp.gmail.com";
    WebMail.SmtpPort = 587;
    WebMail.EnableSsl = true;
    WebMail.UserName = "14daw1aibardaniel@gmail.com";
    WebMail.From = "14daw1aibardaniel@gmail.com";




































    WebMail.Password="daibargimenez620995771";
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        
    </body>
</html>
