@{
    var db = Database.Open("VIDEO");
    var sqlSelect = "SELECT * FROM Categorias";

    

    var sqlSelect2 = "SELECT Anyo FROM Peliculas group by Anyo order BY ANYO desc ";
                  

    

    
}

<div id='cssmenu'>
    <link rel="stylesheet" href="~/carrousel/styles.css">
   <script src="~/carrousel/jquery-latest.min.js" type="text/javascript"></script>
   <script src="~/carrousel/script.js"></script>
<ul>
   <li class='active'><a href='#'><span>Filmfin</span></a></li>
   <li class='has-sub'><a href='#'><span>Categorias</span></a>
      <ul>
         @foreach (var categoria in db.Query(sqlSelect))
        {
            <li><a href="~/Productos/@categoria.Nombre"> @categoria.Nombre </a></li>
        }
      </ul>
   </li>

    <li class='has-sub'><a href="/Estrenos.cshtml"><span>Estrenos</span></a>
        <ul>
         @foreach (var categoria2 in db.Query(sqlSelect2))
        {
            <li><a href="/Estrenos/@categoria2.Anyo">@categoria2.Anyo</a></li>
        }
      </ul>
    </li>


   <li class='last'><a href='autor.cshtml'><span>Autor</span></a>
      
   </li>
   <li class='last'><a href='#'><span>Contacto</span></a></li>

    
</ul>
</div>



<ul>

</ul>

