<form name="formu" action="~/Search.cshtml" method="post">
    @Html.TextBox("searchTerm")
    <input type="submit" src="~/imgs/icono_lupa.gif" value="Buscar" />
    <!--<img src="~/imgs/icono_lupa.gif" onclick="document.formu.submit();" />-->
</form>
